h1{
    font-family: fantasy;
    margin-top: 90px;
    font-size:50px;
    text-align: center;
}

.bloco-principal{
    /* overflow:scroll; */
    display: flex;
    align-items: center;
    justify-content: baseline; 
    flex-direction: column;
    position: static;
    width: 291px;
    padding: 100px 55px; 
    height: 174px;  /*!!!!!!!!!!!!!!!*/
    background-color: rgb(51, 37, 90);
    border-radius: 10px;
    margin: 45px auto;  
    box-shadow: 3px 3px 5px rgba(51, 37, 90, 0.918);
}