@import url('style.css');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

  .form-img {
    align-self:auto; 
    position: static;
  }
  
  .form-input {
    border-radius: 25px;
    width: 540px;
    height: 35px;
    margin-top: 12px;
    text-indent: 10px;
  }
  
  .form-input-btn{
    position: relative;
    background: none;
    border: none;
    width: 35px;
    height: 35px;
    margin-top: 12px; 
    cursor: pointer;
  }
  
  .form-input-btn i:hover{
    color: var(--green);
  }
    
  .form-resposta{
    /* overflow-y:scroll; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    position: static;
    width: 645px;
    padding: 100px 55px; 
    height: auto;
    background-color: rgb(76, 56, 133);
    border-radius: 10px;
    margin-top: 40px;
  }

  .form-resposta-header{
    display: flex;
    justify-content:right;
    width: 645px;
    height: 60px;
    margin-left: 50px;
    margin-top: -55px;
  }

  .form-resposta-header i{
    padding: 0px 10px 0px 0px;
    width: 40px;
    height: 20px;
    color: #c2a6f1;
  }

  #msg-user{
    display: flex;
    font-size: small;
    margin: auto;
    margin-top: 5px;
    margin-left: 2px;
  }

  .form-resposta-body{
    text-align: justify;
    margin-bottom: 70px;
    /* background-color: #ccc2da;
    border-radius: 25px;
    box-shadow: 1px 1px 1px 1px black; */
  }