/* modificar ainda e escolher minhas cores */
:root { 
    --purple: #987ba3;
    --lilac: #bfa1e6;
    --roxo-medio: #4c3885;
    --roxo-claro: #907dc4;
    --darkGray: #777474;
    --lightGray: #686363;
    --difWhite: #f3f0d3;
    --difBlack: #000000;
    --green: rgb(58, 145, 48);
  }

body {
    background-color: var(--bg);
    color: var(--fontColor);
    margin: 0; 
    padding: 60px; 
}
  
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--navBgColor);
    color: var(--btnFontColor);
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 10px 20px;
    margin:auto;
}

.navbar img {
  width: 40px; 
  height: auto; 
  margin-right: 10px; 
}

#navbar-title{
    text-decoration: none;
    color: var(--btnFontColor);
    font-family: fantasy;
    font-size:24px;
    display: flex; 
    align-items: center;
}

.navbar-lista{
    color:var(--btnFontColor);
    text-align: right;
    list-style-type: none; 
    margin: 0;
    margin-right: 10px; 
    padding: 1px;
    display: flex;   
}

.navbar-lista li {
    margin-right: 20px; 
    display: flex; 
    align-items: center; 
}

.navbar-lista li a {
  text-decoration: none;
  color: var(--btnFontColor);
  font-family: fantasy;
  font-size: larger;
}

#themeBtn{
  background-color: var(--btnBg);
  color: var(--btnFontColor);
  right: 153px;
  font-family: fantasy;
  font-size: large;
  border: none;
  padding: 7px 13px; 
  border-radius: 25px; 
  margin-right: 20px;
}

#themeBtn:hover{
  background-color: var(--btnFontColor);
  color: var(--btnBg);
}

.form {
  overflow:scroll;
  display: flex;
  align-items: center;
  justify-content: baseline; 
  flex-direction: column;
  position: static;
  width: 800px;
  padding: 100px 55px; 
  height: auto;  /*!!!!!!!!!!!!!!!*/
  background-color: rgb(51, 37, 90);
  border-radius: 10px;
  margin: 45px auto; 
  box-shadow: 8px 8px 5px rgba(51, 37, 90, 0.918);
}

#pergunta {
  font-family: fantasy;
  margin-right: 10px;
  margin-top: 5px;
  font-size: 21px;
}

footer{
  position: fixed; 
  bottom: 0; 
  left: 0;
  width: 100%; 
  padding: 20px; 
  text-align: center; 
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: var(--footerBgColor);
  color: var(--btnColor);
}

footer span{ /*NAO TIRA ESSE ESTILO AQUI PLMDS*/
  line-height: 13px;
    vertical-align: text-top;
    font-size: 17px;
}

footer a{
  color: var(--btnColor);
}

.dark-theme {
  --bg: var(--difBlack);
  --fontColor: var(--difWhite);
  --navBgColor: var(--lilac);
  --btnBg: var(--difWhite);
  --btnFontColor: var(--difBlack);
  --formIntBgColor: var(--roxo-medio);
  --formIntBoxShadow: var(6px 6px 5px rgba(77, 56, 133, 0.534));
  --footerBgColor: var(--lightGray);
  --btnHistoricoBgColor: var(--roxo-claro);
  --btnHistoricoColor: var(--difBlack);
}

.light-theme {
    --bg: var(--difWhite);
    --fontColor: var(--difBlack);  
    --navBgColor: var(--purple);
    --btnBg: var(--difBlack);
    --btnFontColor: var(--difWhite);
    --formIntBgColor: var(--roxo-claro);
    --formIntBoxShadow: var(6px 6px 5px hsla(256, 38%, 63%, 0.712)); /*mudar essa cor*/
    --footerBgColor: var(--darkGray);
    --btnHistoricoBgColor: var(--roxo-medio);
    --btnHistoricoColor: var(--difWhite);
}
  
