{%extends 'default.html'%}
{%block extra_styles%} <link rel="stylesheet" href="{{url_for('static', filename='css/bot.css')}}"> {%endblock%}

{%block title%} <title>Let Chatbot</title> {%endblock%}

{%block form_content%}
<p>
    <form id="chat-form" action="/enviar-prompt" method="post" >
        <div class="form">
            <img class="form-img" src="static/img/bot.png" alt="imagem do bot">
            <div style="display: flex; align-items: center;">
                <input class="form-input" type="text" name="prompt" placeholder="Digite sua pergunta...">
                &NegativeThickSpace;
                <button class="form-input-btn" type="submit">
                    <i class="fa-solid fa-circle-arrow-up" style="width: 38px; height: 38px; font-size: 2.35rem; margin-top: -1px; padding: 5%; color: #bfa1e6;"></i>
                </button>
            </div>
            {%if resposta is not none: %}
            <div class="form-resposta">
                <div class="form-resposta-header">
                    <p style="font-family: fantasy; margin-right: 10px; margin-top: 8px;">
                        {{pergunta}}
                    </p>
                    <div class="user-icon" style="position: static; align-items: center; justify-content: center;"> <!--talve mudar ou tirar esse static depois-->
                        <img class="user-icon-img" src="static/img/user-icon.png" alt="icone do user">
                        <p id="msg-user"> você </p>
                    </div>
                </div>
                <div class="form-resposta-body">
                    <p>{{resposta | safe}}</p> 
                    &ThickSpace;
                    <hr id="horizontal-line"> 
                    <h2 id="continue"> INSIRA SUA PRÓXIMA PERGUNTA </h2>
                    <!-- <button class="history-button" onclick="window.location.href='/historico';">Acesse o seu histórico de perguntas!</button> -->
                    <br><br><br>
                    <a ref="{{url_for('historico')}}" class="history-button">Acesse o seu histórico de perguntas!</a>
                </div> 
            </div>
            {%endif%}
        </div>
    </form>
</p>
{%endblock%}