{%extends 'default.html'%}

{%block extra_styles%}
<link rel="stylesheet" href="{{url_for('static', filename='css/about.css')}}">
{%endblock%}

{%block form_content%}
<h1> SOBRE</h1>
<div class="bloco-principal">
   
  </div>
    <p>LETICIA
        <br>
        <a href="https://www.linkedin.com/in/let%C3%ADcia-almeida-9704162a0/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        <br>
        <br>
        <a href="https://github.com/leticosta4" target="_blank"><i class="fa-brands fa-github"></i></a>
    </p>
{%endblock%}